[flake8]
docstring-convention = numpy
exclude = env, __main__.py
classmethod_decorators = classmethod, validator
ignore =
    # ingnore blank line separator rule on long one-line docstrings
    D205
    # ignore period rule on one-line docstrings
    D400
    # totally disagree with this style
    E226
per-file-ignores =
    # ignore warnings about .next() because this is FSMContext method
    app/main.py:B305
